<div class="nexphase-section">
    <div class="nexphase-content-wrapper">
        <div class="three-wrapper">
            <!-- threejs model -->
          <app-three class="full-width"></app-three>
        </div>

        <div class="right-pane">
            <form [formGroup]="togglersForm">
                <div class="togglers-wrappers">
                    <div>Deadfronts <div class="inner-toggler-wrapper"><span>ON</span><p-inputSwitch (onChange)="toggleDeadfront($event)" formControlName="deadfronts"/><span>OFF</span></div></div>
                    <div>Doors <div class="inner-toggler-wrapper"><span>OPEN</span><p-inputSwitch (onChange)="toggleDoor($event)" formControlName="doors" /><span>CLOSE</span></div></div>
                </div>
            </form>
            <div (click)="selectPart($event, idx)" class="pane-item" [ngClass]="{'active': selectedItem === (idx)}" *ngFor="let part of parts; trackBy: trackByTitle; let idx = index">
                <p>{{idx + 1}}. {{part.title}}</p>
            </div>
           
        </div>

        <div class="info-pane" [ngClass]="{'show-more-info' : isPaneOpen}">
            <div class='close-info-pane' (click)="closeInfoPane()"><img src="../../../assets/images/close.png" /></div>
            <div *ngIf="currentPart">
                <h2>{{currentPart.title}}</h2>
                <img src="{{currentPart.image}}" />
                <div class="info-pane-description" [innerHTML]="currentPart.content"></div>
            </div>
        </div>


    </div>
</div>