
<div class="variable-container-wrapper">

    <!-- START --- top minibar -->
    <div class="variable-mini-bar">
        <div>
            <h4>Active Nozzles</h4>
        </div>
        <div>
            <span [ngClass]="{'active-top': selectedItemTop === i}" *ngFor="let nozzle of activeNozzles, let i" (click)="configSelector(nozzle, i)">{{nozzle}}</span>
        </div>
    </div>
    <!-- END --- top minibar -->


    <img *ngIf="showCarsLayout" class="cars-layout-image" [src]="currentConfiguration.carsLayout" />


    <!-- START --- bottom bar -->
    <div class="variable-bottom-bar">
        <div class="variable-left-mini-menu">
            <div>
                <h4>Variable Speed</h4>
            </div>
            <div>
                <p [ngClass]="{'active': selectedItem === i}" *ngFor="let sp of variableSpeedSelector; let i" (click)="vSpeedSelector(sp, i)">{{sp}} Horsepower</p>
            </div>
        </div>


        <div class="variable-middle-menu">
            <div class="gauge">
                <img class="needle needle-left" src="../../../assets/images/needle.png" /> 
                <img class="gauge-left" [src]="selectedGauge" />   
            </div>
            <div class="middle-buttons">
                <p (click)="unitsChange('gpm')">GPM</p>
                <p (click)="unitsChange('psi')">PSI</p>
            </div>
            <div class="gauge">
                <img class="needle needle-right" src="../../../assets/images/needle.png" /> 
                <img class="gauge-right" [src]="selectedGauge" />  
            </div>
        </div>


        <div class="variable-right-mini-menu">
            <div>
                <h4>Fixed Speed</h4>
            </div>
            <div>
                <p [ngClass]="{'active': selectedItem2 === i}" *ngFor="let sp of fixedSpeedSelector; let i" (click)="fSpeedSelector(sp, i)">{{sp}} Horsepower</p>
            </div>
        </div>
    </div>
    <!-- END --- bottom bar -->
</div>
