.variable-container-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1s ease-in-out;
}

.variable-container-wrapper.show-container-wrapper {
    opacity: 1;
}


.intructions-toggle, .close-instructions {
    width: 106px;
    height: 94px;
    background: #1f1f1f;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-instructions {
    background: rgba(0,0,0,0.9);
}

.instructions-content-wrapper {
    width: 90%;
    z-index: 99;
    background: rgba(0,0,0,0.9);
    position: absolute;
    height: 100%;
    right: 0px;
    animation: slideIn 1s forwards;
    max-width: 1450px;
}


.instruction-steps {   
    overflow: auto;
}

.instruction-steps h4 {
    font-size: 2em;
    color: #0082ca;
}

.instructions-step-title {
    font-weight: 900;
    font-size: 1.2em;
    margin: 0px;
    padding: 0px;
}

.instructions-step-content {
    padding: 0px;
    margin: 0em 0em 1.7em 0em;
    line-height: 1.6em;
}


.variable-mini-bar {
    position: relative;
}

.variable-mini-bar, .variable-left-mini-menu, .variable-right-mini-menu, .variable-middle-menu{
    margin: 0 auto;
    display: block;
    width: 350px;
    color: #fff;
    text-align: center;
    z-index: 10;
    font-size: 30px;
}

.variable-mini-bar > div:last-of-type, .variable-left-mini-menu > div:last-of-type, .variable-right-mini-menu > div:last-of-type, .middle-buttons{
    background: #1f1f1f;
  
}

.variable-mini-bar h4, .variable-left-mini-menu h4, .variable-right-mini-menu h4, .variable-middle-menu h4 {
    background: #6e7c87;
}


.variable-mini-bar h4, .variable-left-mini-menu h4, .variable-right-mini-menu h4, .variable-middle-menu h4{
    color: #fff;
    font-weight: bold;
    padding: 28px;
    margin: 0px;
}


.variable-left-mini-menu > div:last-of-type > p, .variable-right-mini-menu > div:last-of-type > p ,.variable-left-mini-menu h4, .variable-right-mini-menu h4, .variable-middle-menu h4{
    padding: 14px;
}

.middle-buttons > p{
    padding: 11px;
}

.variable-left-mini-menu > div:last-of-type > p, .variable-right-mini-menu > div:last-of-type > p, .middle-buttons > p {
    margin: 0px;
}


.variable-mini-bar > div:last-of-type{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
}

.variable-mini-bar > div:last-of-type, .variable-left-mini-menu > div:last-of-type, .variable-right-mini-menu > div:last-of-type {
    margin-top:4px;
}


.variable-mini-bar > div > span{
    display: inline-block;
    padding: 5px 16px;
}

.variable-middle-menu {
    width: 650px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}


.variable-left-mini-menu h4, .variable-right-mini-menu h4, .variable-middle-menu h4, .variable-left-mini-menu > div:last-of-type, .variable-right-mini-menu > div:last-of-type{
    font-size: 25px;
}


.gauge {
    position: relative;
}

.needle {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    left: 0px;
    right: 0;
    top: 0;
    bottom: 30px;
    text-align: center;
    transition: all 1s ease-in-out;
    transform: rotate(-110deg);
    transform-origin: 58% 69.5%;
}

.needle-stage-one {
    transform: rotate(45deg);
}


.variable-bottom-bar {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
    justify-content: space-evenly;
}


.cars-layout-image {
    width: 100%;
    position: absolute;
    top: 0px;
    z-index: 0;
    /*opacity: 0.3;*/ 
    height: auto;
    /*max-height: 100%;*/
}


.active, .active-top, .variable-left-mini-menu > div:last-of-type > p:hover, .variable-right-mini-menu > div:last-of-type > p:hover, .middle-buttons > p:hover, .variable-mini-bar > div > span:hover {
    background-color: #0082ca;
    color: #1f1f1f;
}

.variable-left-mini-menu > div:last-of-type > p:hover, .variable-right-mini-menu > div:last-of-type > p:hover, .middle-buttons > p:hover, .variable-mini-bar > div > span:hover {
    cursor: pointer;
}


@keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(700px); 
    }
    100% {
        opacity: 1;
      transform: translateX(0); 
    }
}


@media screen and (max-width: 1200px){
    .intructions-toggle, .close-instructions {
        width: 80px;
        height: 70px;
    }

    .variable-mini-bar {
        display: flex;
        font-size: 16px;
        padding: 0px;
        justify-content: center;
    }

    .variable-mini-bar > div:last-of-type, .variable-left-mini-menu > div:last-of-type, .variable-right-mini-menu > div:last-of-type {
        margin-top:0px;
    }

    .variable-mini-bar h4, .variable-left-mini-menu h4, .variable-right-mini-menu h4, .variable-middle-menu h4{
        padding: 15px;
        margin: 0px;
    }
  
    .variable-left-mini-menu, .variable-right-mini-menu{
        width: 250px;
        /*font-size: 20px;*/
    }

    .variable-left-mini-menu p, .variable-right-mini-menu p{
        font-size: 17px;
    }

}

@media screen and (max-width:990px){
 
    .variable-bottom-bar {
        background: #1f1f1f;
    }

    .variable-left-mini-menu > div:last-of-type > p, .variable-right-mini-menu > div:last-of-type > p, .middle-buttons > p {
        font-size: 15px;
    }

    .variable-left-mini-menu, .variable-right-mini-menu {
        display: flex;
        margin: 0px;
        width: auto;
        font-size: 12px;
    }

    .variable-left-mini-menu > div:last-of-type, .variable-right-mini-menu > div:last-of-type {
        display: flex;
    }

    
    .variable-mini-bar h4, .variable-left-mini-menu h4, .variable-right-mini-menu h4, .variable-middle-menu h4{
        max-width: 90px;
        font-size: 17px;
    }


    .variable-left-mini-menu > div:last-of-type > p, .variable-right-mini-menu > div:last-of-type > p ,.variable-left-mini-menu h4, .variable-right-mini-menu h4, .variable-middle-menu h4{
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .variable-middle-menu {
        position: absolute;
        justify-content: center;
        width: auto;
        margin: 0 auto;
        left: 0;
        right: 0;
        width: 100px;
    }


    .gauge {
        transform: scale(0.5);
        pointer-events: none;
    }
  
    .gauge:first-of-type {
        margin-right: -114px;
    }

    .middle-buttons {
        position: absolute;
        top: -40px;
    }

    .variable-left-mini-menu {
        margin-right: 250px;
    }

    .variable-left-mini-menu p, .variable-right-mini-menu p {
        width: 65px;
        height: 50px;
        font-size: 13px;
    }

    .variable-left-mini-menu , .variable-right-mini-menu {
        align-items: center;
    }
}

@media screen and (max-width:850px){

    .variable-mini-bar h4, .variable-left-mini-menu h4, .variable-right-mini-menu h4, .variable-middle-menu h4{
        padding: 10px;
        max-width: 50px;
        font-size: 12px;
    }


    .variable-left-mini-menu > div:last-of-type > p, .variable-right-mini-menu > div:last-of-type > p, .middle-buttons > p {
        font-size: 12px;
    }

    .gauge {
        transform: scale(0.4);
    }

    .gauge:first-of-type {
        margin-right: -144px;
    }

    
    .variable-bottom-bar {
        background: #1f1f1f;
    }
}

@media screen and (max-width:680px) {
    
    .variable-bottom-bar {  
        justify-content: space-between;
        bottom: 60px;;
    }

    .variable-left-mini-menu {
        margin-right: 0px;
    }
}

