/* You can add global styles to this file, and also import other style files */
body, html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow-y: hidden;
    font-family: "trade-gothic-next";
    background: #111;
}
.full-width {
    overflow: hidden;
}


.inner-data-container{
    display: flex;
    justify-content: space-between;
    max-height: 100vh;
    overflow: auto;
    flex-direction: column;
}

.inner-data-container > div > img {
    width: 100%;
}


.instruction-steps > div > div img {
    width: 100%;
 }


@media screen and (max-width: 1200px){
    .subcategory-content-wrapper{
        padding-top: 70px
    }
}

@media screen and (max-height:420px){
    
    body, html {
        overflow: auto;
        height: 420px;
    }

   
}